<div class="container">
  
  <!-- First row -->
  <div class="row">
    <p class="text-center"><span class="glyphicon glyphicon-menu-up"></span></p>
    <div class="col-sm-4">
      <button type="button" class="btn btn-danger btn-block">START A PROJECT</button>
      <button type="button" class="btn btn-primary btn-block">SEE OUR WORK</button>
    </div>
    <div class="col-sm-4">
      <p>Sobre Nosotros:  <app-contact></app-contact></p>
      <p>Grupo de interés sobre AngularJS y Angular2 localizado en Madrid.</p>
    </div>
    <div class="col-sm-4">
      <dt>Join us:</dt>
      <form class="form-inline">
        <div class="form-group">    
          <input type="email" class="form-control" id="email" placeholder="Enter your email here">
          <button type="submit" class="btn btn-default">SIGN ME UP</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Second row -->
  <div class="row">
      <div class="col-sm-4">
          Copyright © {{ year }} NgLabs
      </div>
      <div class="col-sm-4">
          <span class="fa-stack">
            <a>GitHub</a> |
          </span>
          <span class="fa-stack">
            <a>Meetup</a> |
          </span>
          <span class="fa-stack">
            <a target="_blank" href="https://twitter.com/ngLabs_madrid">Twitter</a>
          </span>
      </div>
      <div class="col-sm-4">
        <a>Privacy Policy</a> |
        <a>Support</a> |
        <a target="_blank" href="http://angularjs.blogspot.ca/">Visit angularjs.blogspot.ca</a> 
      </div>
  </div>
</div>